DefaultConnection=Host=localhost;Database=work_experience;Username=postgres;Password=postgres

Auth0:Domain=
Auth0:ClientId=
Auth0:ClientSecret=
Auth0:Audience=

Tinify:ApiKey=

VertexAi:ProjectId=
VertexAi:Location=
VertexAi:Collection=
VertexAi:Branch=
VertexAi:Model=
VertexAi:ModelLocation=
VertexAi:QueryDataStoreSuffix=
VertexAi:CredentialsFile=
VertexAi:CredentialsJson=
